# These settings were set by the catalyst build script that automatically
# built this stage.
# Please consult /usr/share/portage/config/make.conf.example for a more
# detailed example.
COMMON_FLAGS="-march=znver2 -mtune=native -O2 -pipe"
CFLAGS="${COMMON_FLAGS}"
CXXFLAGS="${COMMON_FLAGS}"
FCFLAGS="${COMMON_FLAGS}"
FFLAGS="${COMMON_FLAGS}"
MAKEOPTS="-j{{ cpunr }} --load-average={{ cpunr}}"
FEATURES="ipc-sandbox pid-sandbox mount-sandbox usersandbox -news network-sandbox parallel-fetch sandbox strict candy distlocks -parallel-install -merge-wait binpkg-logs buildpkg buildpkg-live compress-build-logs dedupdebug compressdebug downgrade-backup unmerge-backup fixlafiles installsources python-trace unmerge-logs nostrip"

# go flags
CGO_CFLAGS="${CFLAGS}"
CGO_CXXFLAGS="${CXXFLAGS}"
CGO_FFLAGS="${FFLAGS}"
CGO_LDFLAGS="${LDFLAGS}"

# NOTE: This stage was built with the bindist Use flag enabled

# This sets the language of build output to English.
# Please keep this setting intact when reporting bugs.
LC_MESSAGES=C.utf8
GENTOO_MIRRORS="ftp://ftp.mirrorservice.org/sites/distfiles.gentoo.org/ \
http://mirror.bytemark.co.uk/gentoo/ \
http://mirrors.gethosted.online/gentoo/ \
http://www.mirrorservice.org/sites/distfiles.gentoo.org/ \
https://mirror.bytemark.co.uk/gentoo/ \
https://mirrors.gethosted.online/gentoo/ \
https://www.mirrorservice.org/sites/distfiles.gentoo.org/ \
rsync://mirror.bytemark.co.uk/gentoo/ \
rsync://rsync.mirrorservice.org/distfiles.gentoo.org/"

ACCEPT_LICENSE="*"
USE="man dist-kernel opengl systemd pulseaudio dkms alsa modules-sign -debug \
     unicode immqt-bc -immqt nls cjk wayland -accessibility -branding \
     gtk -smartcard -sid -skey pcmcia pch -oss osc hpcups \
     static-ppds -oracle nis networkmanager neXt native-extensions nas \
     -mysql -mysqli multilib mplayer -mpi modplug -ldap -latex \
     -kerberos ipv6 ibm handbook gui -gtk-doc gnome gnome-keyring \
     -examples emacs acl -zsh-completion -test-rust gles2 elogind dbus \
     kernel-install netifrc redistributable X -xv system-av1 \
     system-harfbuzz icu system-icu system-jpeg system-libevent \
     system-libvpx system-png system-python-libs system-webp -io-uring"

SANE_BACKENDS="hp"
# setup for signed kernel
# see https://wiki.gentoo.org/wiki/Handbook:AMD64/Installation/Kernel#Distribution_kernels
# Optionally, to use custom signing keys.
#
#

VIDEO_CARDS="radeonsi amdgpu"


# unmask all amd64 packages
ACCEPT_KEYWORDS="~amd64"
GRUB_PLATFORMS="efi-64"

## LUA
LUA_SINGLE_TARGET="lua5-4"

##  RUST
# target-cpu=native is the equivalent of -march=native in C/CXXFLAGS:
RUSTFLAGS="-C target-cpu=native"
# enable target-cpu=native and DT_RELR
RUSTFLAGS="-C target-cpu=native -C link-arg=-Wl,-z,pack-relative-relocs"
# opt-level is similar to Clang's optimization options
RUSTFLAGS="-C opt-level=3"
PHP_TARGETS="php8-1"

DARKELF_FEATURES="postmerge_distclean"

# binary
BINPKG_FORMAT="gpkg"
BINPKG_COMPRESS="zstd"
BINPKG_COMPRESS_FLAGS_ZSTD="-9"
EMERGE_DEFAULT_OPTS="${EMERGE_DEFAULT_OPTS} --verbose -b -k --autounmask --autounmask-write --autounmask-continue --autounmask-use=y --jobs 11 --exclude dev-libs/icu --exclude x11-misc/xdg-utils --binpkg-respect-use=y"
CCACHE_DIR="/var/cache/ccache"

# QEMU
QEMU_SOFTMMU_TARGETS="arm x86_64 sparc"
QEMU_USER_TARGETS="x86_64"

# RUBY
#RUBY_TARGETS="ruby31"

# build logs
PORTAGE_LOG_DIR="/var/portage/build-logs"

# signed kernel modules 

# Optionally, to use custom signing keys.
MODULES_SIGN_KEY="/root/kernel_key.pem"
MODULES_SIGN_CERT="/root/kernel_key.pem" # Only required if the MODULES_SIGN_KEY does not also contain the certificate.
MODULES_SIGN_HASH="sha512" # Defaults to sha512.

# TODO: secure boot
